body {
    background-color: darkblue;
    background-image: linear-gradient(to bottom, darkblue, rgb(0, 128, 98));
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, sans-serif;
}

.page.header {
    background-image: linear-gradient(to right, purple, coral);
    border-radius: 16px;
    text-align: center;
    color: aqua;
}

.fact-card {
    background-color: midnightblue;
    border-radius: 12px;
    color: aqua
}

.fast.card h2 {
    background-color: coral;
}

.star {
    width: 60px;
    height: 60px;
    background-color: burlywood;
    border-radius: 50%;
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
    from {background-color: burlywood;}
    to {background-color: chocolate;}
}

footer-text {
    text-align: center;
    color: coral;
}